.hourglass:after {
    content: " ";
    display: block;
    width: 50%;
    border: 30px solid rgb(16, 16, 16);
    border-radius: 50%;
    border-color: rgb(21, 20, 20) transparent;
    animation: hourglass 2s infinite;
}

@keyframes hourglass {
    0% {
        transform: rotate(0);
    }
    
    100% {
        transform: rotate(1800deg);
    }
}