@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/raleway/index.css';
@import '~@fontsource/raleway/700.css';

@import './vars';
@import './loader.scss';

body {
    background-color: $main-background-color;
    font-family: $font;
    color: white;
}