@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/raleway/index.css';
@import '~@fontsource/raleway/700.css';

@import './vars';
@import './loader.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main-background-color;
    font-family: $font;
    color: white;
}